.header {
  color: #fff;
  border-bottom: 1px solid #e1e2e3;
  padding: 0 1rem 1rem;
}

.header a {
  padding: 8px;
}

.header a:hover {
  color: lightsalmon;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}